body {
    color: pink;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-family: Inter;
}
#container {
    height: 100vh;
    width: 100vw;
    background-image: url(./img/office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    background-color: rgba(39, 39, 39, 0.719);
    color: white;
    margin-top: 0px;
    font-size:xx-large;
    width: 100%;
    height: 20%;
    align-items: center;
    grid-row: 1;
}

main {
    justify-items: center;
    height: 60%;
    width: 100%;
    color: white;
}

nav {
    display: flex;
    background-color: rgba(39, 39, 39, 0.719);
    color: lightblue;
    height: 20%;
    width: 100%;
    text-align: center;
    flex-direction: column;
}


.palalelogram {
    background-color: rgba(240, 248, 255, 0.85);
    min-height: 1em;
    min-width: 1em;
    transform: skew(-10deg);
    border-radius: 5px;
}

.navbar {
    height: 4em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 3em;
}

.playerCorner {
    background-color: rgb(21, 52, 83);
    width: 20%;
    height: 70%;
    transform: skew(-10deg) translateX(-20px);
}