<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <script src="../static/js.js"></script>
    <title>Schale Office</title>
</head>
<body>
<div id="container">

    <header>
        <div class="palalelogram playerCorner">
            <div class="lvlNumber">
                <p style="color: yellow;">Lv.</p>
                <p style="font-size: 150%;">90</p>
            </div>
            <div class="playerXp">
                <p class="playerName">Jani</p>
                <progress class="xpBar" max="100" value="100"></progress>
                <p class="xpNumber">MAX</p>
            </div>
        </div>
        <div class="stuffContainer">
            <div class="topRow">

                <div class="palalelogram">
                    <div class="stuff">
                        <img src="../static/img/assets/AP.png" alt="">
                        240/240
                        <div>+</div>
                    </div>
                </div>
                <div class="palalelogram">
                    <div class="stuff">
                        <img src="../static/img/assets/Gold.png" alt="">
                        45,733,462
                    </div>
                </div>
                <div class="palalelogram">
                    <div class="stuff">
                        <img src="../static/img/assets/Pyroxene.png" alt="">
                        37,242
                    </div>
                </div>
                <div class="palalelogram">
                    <div class="stuff">
                        just stuff
                    </div>
                </div>
            </div>
            <div class="hideUI palalelogram">
                <->
            </div>
        </div>
    </header>
    <main>
        <div id="bannerDiv" style="visibility: hidden;">
            <button onclick="getWiki()">press</button>
        </div>

        <!-- <form action="https://www.duckduckgo.com/search" method="get" autocomplete="off">
            <input type="text" name="q" placeholder="search" autofocus>
            <input type="submit" value="Keresés">
        </form> -->

        <!-- Have AI chatbot ready to go, because that's cooler -->
    </main>
    <nav>
        <div class="palalelogram navbar">
            test
        </div>
    </nav>
</div>
</body>
</html>
